/* base styles */
body {
  background: black;
  color: white;
  font-family: Courier, monospace;
}

::-moz-placeholder {
  color: gray;
  font-style: italic;
}

::-webkit-input-placeholder {
  color: gray;
  font-style: italic;
}

/* components */

.storyboard {
  width: 75%;
}

.caret {
  color: #00ff00;
}

.dir {
  margin-left: .5rem;
  color: cyan;
}

.new-choice {
  border: none;
  background: none;
  font-size: inherit;
  font-family: Courier, monospace;
  max-width: 300px;
}

.new-choice:focus {
  color: white;
  font-style: unset;
}

.choice-content {
  /*color: #00ff00;*/
}

.option-list {
  margin-left: 1.5rem;
}

.is-selected {
  color: cyan;
  /*color: #00ff00;*/
}

/* helpers */

.font-grey {
  color: lightgrey;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.flex-container {
  display: flex;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-right-0_5 {
  margin-right: 0.5rem;
}
