/* base styles */
body {
  background: black;
  color: white;
  font-family: Courier, monospace;
}

/* components */

.storyboard {
  width: 75%;
}

.caret {
  color: #00ff00;
}

.dir {
  margin-left: .5rem;
  color: cyan;
}

.choice-content {
  /*color: #00ff00;*/
  margin-left: .5rem;
}

.option-list {
  margin-left: 1.5rem;
}

.is-selected {
  color: cyan;
  /*color: #00ff00;*/
}

/* helpers */

.font-grey {
  color: lightgrey;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.flex-container {
  display: flex;
}

.margin-left-1 {
  margin-left: 1rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
