body {
  background: black;
  color: white;
  font-family: Courier, monospace;
}

.storyboard {
  width: 75%;
}

.font-grey {
  color: lightgrey;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.flexContainer {
  display: flex;
}

.margin-left-1 {
  margin-left: 1rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
